## 1. raw data 가져오기

### **1.1** 데이터 포맷 이해하기 위해 파일 하나를 가져옴

In [3]:
import pandas as pd
PATH = "00_Material(Uploaded)/COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/"
doc = pd.read_csv(PATH + "04-01-2020.csv", encoding='utf-8-sig')
doc.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4,0,0,4,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47,1,0,46,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7,0,0,7,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-01 21:58:49,43.452658,-116.241552,195,3,0,192,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-01 21:58:49,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"

### **1.2** 국가별 확진자 수를 알고 싶은 것이므로 필요한 데이터는
- Country_Region
- Confirmed

### **1.3** 다른 파일을 가져와 보니까 필요한 데이터의 컬럼명이 다름
- 3월 중순 데이터까지는 컬럼명이 Province/State, Country/Region 이고
- 이후에는 Province_State, Country_Region임

In [10]:
doc = pd.read_csv(PATH + "03-01-2020.csv", encoding='utf-8-sig')
doc.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140

### **1.4** 컬럼명 통일하기
- try except 구문을 사용해서 데이터 조작

In [15]:
doc = pd.read_csv(PATH + "01-22-2020.csv", encoding='utf-8-sig')
try:
    doc = doc[['Province_State', 'Country_Region', 'Confirmed']]
except:
    doc = doc[['Province/State', 'Country/Region', 'Confirmed']]
    doc.columns = ['Province_State', 'Country_Region', 'Confirmed']

doc.head()

  Province_State  Country_Region  Confirmed
0          Anhui  Mainland China        1.0
1        Beijing  Mainland China       14.0
2      Chongqing  Mainland China        6.0
3         Fujian  Mainland China        1.0
4          Gansu  Mainland China        NaN

## 2. 데이터프레임 데이터 변환하기
1. 특정 컬럼만 선택해서 데이터프레임 만들기
2. 특정 컬럼에 없는 데이터 삭제하기
3. 특정 컬럼의 데이터 타입 변경하기

In [18]:
import pandas as pd
PATH = "00_Material(Uploaded)/COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/"

doc = pd.read_csv(PATH + "01-22-2020.csv", encoding='utf-8-sig')
try:
    doc = doc[['Province_State', 'Country_Region', 'Confirmed']]  # 1. 특정 컬럼만 선택해서 데이터프레임 만들기
except:
    doc = doc[['Province/State', 'Country/Region', 'Confirmed']]  # 1. 특정 컬럼만 선택해서 데이터프레임 만들기
    doc.columns = ['Province_State', 'Country_Region', 'Confirmed']
doc = doc.dropna(subset=['Confirmed'])     # 2. 특정 컬럼에 없는 데이터 삭제하기
doc = doc.astype({'Confirmed': 'int64'})   # 3. 특정 컬럼의 데이터 타입 변경하기 (사람이니까 정수로 변경)
doc.head()

  Province_State  Country_Region  Confirmed
0          Anhui  Mainland China          1
1        Beijing  Mainland China         14
2      Chongqing  Mainland China          6
3         Fujian  Mainland China          1
5      Guangdong  Mainland China         26

### **2.1** 국가 정보 가져오기
- 학습 목표에 맞게 데이터를 시각화 하기 위해서는 국가별 국기가 필요함
- 국기를 시각화하기 위해서는 각 국가의 iso2가 필요함
- 각 국가의 iso2를 가져오기 위해 국가 정보를 가져오기

In [21]:
country_info = pd.read_csv("00_Material(Uploaded)/COVID-19-master/csse_covid_19_data/UID_ISO_FIPS_LookUp_Table.csv", encoding='utf-8-sig')
country_info.head()

,Unnamed: 0.1,Unnamed: 0,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key
0,0,0,NaN,BW,NaN,NaN,NaN,NaN,NaN,Botswana,NaN,NaN,Botswana
1,1,1,NaN,BI,NaN,NaN,NaN,NaN,NaN,Burundi,NaN,NaN,Burundi
2,2,2,NaN,SL,NaN,NaN,NaN,NaN,NaN,Sierra Leone,NaN,NaN,Sierra Leone
3,3,3,4.0,AF,AFG,4.0,NaN,NaN,NaN,Afghanistan,33.93911,67.709953,Afghanistan
4,4,4,8.0,AL,ALB,8.0,NaN,NaN,NaN,Albania,41.15330,20.168300,Albania

### **2.2** 두 데이터프레임 합치기
- doc에 있는 나라들의 iso2를 알기 위한 것이므로
- doc에 country_info에서 iso2 데이터를 뽑아와서 doc에 합치기

In [28]:
test_df = pd.merge(doc, country_info, how='left', on='Country_Region')
test_df

,Province_State_x,Country_Region,Confirmed,Unnamed: 0.1,Unnamed: 0,UID,iso2,iso3,code3,FIPS,Admin2,Province_State_y,Lat,Long_,Combined_Key
0,Anhui,Mainland China,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Beijing,Mainland China,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Chongqing,Mainland China,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fujian,Mainland China,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Guangdong,Mainland China,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3437,Pitcairn Islands,United Kingdom,0,194.0,194.0,8261.0,GB,GBR,826.0,NaN,NaN,Channel Islands,49.372300,-2.364400,"Channel Islands, United Kingdom"
3438,Pitcairn Islands,United Kingdom,0,195.0,195.0,292.0,GI,GIB,292.0,NaN,NaN,Gibraltar,36.140800,-5.353600,"Gibraltar, United Kingdom"
3439,Pitcairn Islands,United Kingdom,0,196.0,196.0,833.0,IM,IMN,833.0,NaN,NaN,Isle of Man,54.236100,-4.548100,"Isle of Man, United Kingdom"
3440,Pitcairn Islands,United Kingdom,0,197.0,197.0,500.0,MS,MSR,500.0,NaN,NaN,Montserrat,16.742498,-62.187366,"Montserrat, United Kingdom"
3441,Pitcairn Islands,United Kingdom,0,198.0,198.0,796.0,TC,TCA,796.0,NaN,NaN,Turks and Caicos Islands,21.694000,-71.797900,"Turks and Caicos Islands, United Kingdom"

### **2.3** 잘못 매칭된 국가 정보 확인하기
- iso2 컬럼이 매칭되지 않은 국가 확인해 보기

In [31]:
test_df.isnull().sum()

Province_State_x     12
Country_Region        0
Confirmed             0
Unnamed: 0.1         34
Unnamed: 0           34
UID                  34
iso2                 34
iso3                 34
code3                34
FIPS                140
Admin2              196
Province_State_y     65
Lat                 139
Long_               139
Combined_Key         34
dtype: int64

In [33]:
nan_rows = test_df[test_df['iso2'].isnull()]
nan_rows.head()

,Province_State_x,Country_Region,Confirmed,Unnamed: 0.1,Unnamed: 0,UID,iso2,iso3,code3,FIPS,Admin2,Province_State_y,Lat,Long_,Combined_Key
0,Anhui,Mainland China,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Beijing,Mainland China,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Chongqing,Mainland China,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fujian,Mainland China,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Guangdong,Mainland China,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **2.4** 컬럼 값 변경하기
- Country_Region 국가명이 다양한 경우가 많았음
- 각 케이스를 일괄적으로 변경할 키값이 존재하지 않고, 키가 될 수 있는 컬럼도 다양하고, 각 파일마다 키가 될 수 있는 컬럼이 변경되어, 키값으로 매칭이 불가하였음
- 이에 각 케이스를 직접 확인해서, 국가명을 일관되게 변경할 수 있도록 별도 json 파일 작성
- json 파일 기반으로 국가명을 일관되게 변경하기로 함

#### **2.4.1** `json.load()` 함수로 파일로된 json 데이터를 사전처럼 다룰 수 있음

In [37]:
import json

with open('00_Material(Uploaded)/COVID-19-master/csse_covid_19_data/country_convert.json', 'r', encoding='utf-8-sig') as json_file:
    json_data = json.load(json_file)
    print (json_data.keys())

dict_keys(['Mainland China', 'Macau', 'South Korea', 'Aruba', ' Azerbaijan', 'Bahamas, The', 'Cape Verde', 'Cayman Islands', 'Channel Islands', 'Curacao', 'Czech Republic', 'East Timor', 'Faroe Islands', 'French Guiana', 'Gambia, The', 'Gibraltar', 'Greenland', 'Guadeloupe', 'Guam', 'Guernsey', 'Hong Kong', 'Hong Kong SAR', 'Iran (Islamic Republic of)', 'Ivory Coast', 'Jersey', 'Macao SAR', 'Martinique', 'Mayotte', 'North Ireland', 'Palestine', 'Puerto Rico', 'Republic of Ireland', 'Republic of Korea', 'Republic of Moldova', 'Republic of the Congo', 'Reunion', 'Russian Federation', 'Saint Barthelemy', 'Saint Martin', 'St. Martin', 'Taipei and environs', 'The Bahamas', 'The Gambia', 'UK', 'Vatican City', 'Viet Nam', 'occupied Palestinian territory', 'Taiwan*', 'Malawi', 'South Sudan', 'Western Sahara', 'Namibia'])

#### **2.4.2** apply() 함수 사용법
- apply() 함수: 내가 정의한 함수를 column이나 row에 적용할 수 있게 하는 함수

In [41]:
df = pd.DataFrame({
    '영어': [60, 70],
    '수학': [100, 50]
}, index = ['Dave', 'David'])
df

       영어   수학
Dave   60  100
David  70   50

In [43]:
def func(df_data):
    print (type(df_data))    
    print (df_data.index)
    print (df_data.values)    
    return df_data

- func 인자로 column을 가져오기: axis=0

In [47]:
df_func = df.apply(func, axis=0)

<class 'pandas.core.series.Series'>
Index(['Dave', 'David'], dtype='object')
[60 70]
<class 'pandas.core.series.Series'>
Index(['Dave', 'David'], dtype='object')
[100  50]

- func 인자로 row를 가져오기: axis=1

In [52]:
df_func = df.apply(func, axis=1)

<class 'pandas.core.series.Series'>
Index(['영어', '수학'], dtype='object')
[ 60 100]
<class 'pandas.core.series.Series'>
Index(['영어', '수학'], dtype='object')
[70 50]

- Dave와 David의 영어 점수를 80점으로 변경해보기

In [55]:
def change_score(df_data):
    df_data['영어'] = 80
    return df_data

In [57]:
df_change_score = df.apply(change_score, axis=1)
df_change_score

       영어   수학
Dave   80  100
David  80   50

#### **2.4.3** apply() 함수를 사용해서, 국가 컬럼 값 변경하기
- 사전 작업 (doc 변수로 데이터프레임 파일 만들기)

In [72]:
import pandas as pd

PATH = "00_Material(Uploaded)/COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/"
doc = pd.read_csv(PATH + "01-22-2020.csv", encoding='utf-8-sig')
try:
    doc = doc[['Province_State', 'Country_Region', 'Confirmed']]  # 1. 특정 컬럼만 선택해서 데이터프레임 만들기
except:
    doc = doc[['Province/State', 'Country/Region', 'Confirmed']]  # 1. 특정 컬럼만 선택해서 데이터프레임 만들기
    doc.columns = ['Province_State', 'Country_Region', 'Confirmed']
doc = doc.dropna(subset=['Confirmed'])     # 2. 특정 컬럼에 없는 데이터 삭제하기
doc = doc.astype({'Confirmed': 'int64'})   # 3. 특정 컬럼의 데이터 타입 변경하기
doc.head()

  Province_State  Country_Region  Confirmed
0          Anhui  Mainland China          1
1        Beijing  Mainland China         14
2      Chongqing  Mainland China          6
3         Fujian  Mainland China          1
5      Guangdong  Mainland China         26

- 변경할 국가명을 가지고 있는 json 파일 읽기

In [75]:
import json

with open('00_Material(Uploaded)/COVID-19-master/csse_covid_19_data/country_convert.json', 'r', encoding='utf-8-sig') as json_file:
    json_data = json.load(json_file)
    print (json_data.keys())

dict_keys(['Mainland China', 'Macau', 'South Korea', 'Aruba', ' Azerbaijan', 'Bahamas, The', 'Cape Verde', 'Cayman Islands', 'Channel Islands', 'Curacao', 'Czech Republic', 'East Timor', 'Faroe Islands', 'French Guiana', 'Gambia, The', 'Gibraltar', 'Greenland', 'Guadeloupe', 'Guam', 'Guernsey', 'Hong Kong', 'Hong Kong SAR', 'Iran (Islamic Republic of)', 'Ivory Coast', 'Jersey', 'Macao SAR', 'Martinique', 'Mayotte', 'North Ireland', 'Palestine', 'Puerto Rico', 'Republic of Ireland', 'Republic of Korea', 'Republic of Moldova', 'Republic of the Congo', 'Reunion', 'Russian Federation', 'Saint Barthelemy', 'Saint Martin', 'St. Martin', 'Taipei and environs', 'The Bahamas', 'The Gambia', 'UK', 'Vatican City', 'Viet Nam', 'occupied Palestinian territory', 'Taiwan*', 'Malawi', 'South Sudan', 'Western Sahara', 'Namibia'])

- Country_Region 이라는 컬럼 값을 확인해서
- 국가명이 다르게 기재되어 있는 경우에만 지정한 국가명으로 변경하기

In [78]:
def correct_country(row):
    if row['Country_Region'] in json_data: # 국가명이 다르게 기재되어 있는 경우
        row['Country_Region'] = json_data[row['Country_Region']]
    return row

In [80]:
doc = doc.apply(correct_country, axis=1)
doc.head()

  Province_State Country_Region  Confirmed
0          Anhui          China          1
1        Beijing          China         14
2      Chongqing          China          6
3         Fujian          China          1
5      Guangdong          China         26

#### **2.4.4** 파일명으로 데이터 변환하기
- `lstrip()`: 앞에(왼쪽에)서 특정 데이터 삭제하기, rstrip(): 뒤에(오른쪽에)서 특정 데이터 삭제하기
- `replace(변경전데이터, 변경후데이터)`: 문자열에서 변경전데이터 를 변경후데이터로 변경

In [83]:
data = "01-22-2020.csv"
date_column = data.split(".")[0].lstrip('0').replace('-', '/')
date_column

'1/22/2020'

In [85]:
doc.columns

Index(['Province_State', 'Country_Region', 'Confirmed'], dtype='object')

- Confirmed 컬럼을 date_column으로 변환하기

In [88]:
doc.columns = ['Province_State', 'Country_Region', date_column]
doc.columns

Index(['Province_State', 'Country_Region', '1/22/2020'], dtype='object')

In [90]:
doc.head()

  Province_State Country_Region  1/22/2020
0          Anhui          China          1
1        Beijing          China         14
2      Chongqing          China          6
3         Fujian          China          1
5      Guangdong          China         26

#### **2.4.5** 중복 데이터 합치기
- groupby(): 그룹별로 데이터를 집계하는 함수
  - 동일한 컬럼 값으로 묶어서 통계 또는 평균 등을 확인할 수 있음

In [93]:
doc.groupby('Country_Region').sum()

,Province_State,1/22/2020
Country_Region,,
Antarctica,0,0
China,AnhuiBeijingChongqingFujianGuangdongGuangxiGui...,548
Japan,0,2
Kiribati,0,0
"Korea, North",0,0
"Korea, South",0,1
Malaysia,JohorKedahKelantanMelakaNegeri SembilanPahangP...,0
Nauru,0,0
New Zealand,Cook IslandsNiue,0
Palau,0,0
Summer Olympics 2020,0,0
Taiwan,Taiwan,1
Thailand,0,4
Tonga,0,0
Tuvalu,0,0
US,Washington,1
Ukraine,Unknown,0
United Kingdom,JerseyGuernseyEnglandNorthern IrelandScotlandW...,0
Winter Olympics 2022,0,0

## 3. 데이터 전처리하기
- 지금까지의 과정을 모두 한데 모아서, 함수로 만들기 <br>
  **1.** csv 파일 읽기 <br>
  **2.** 'Country_Region', 'Confirmed' 두 개의 컬럼만 가져오기 <br>
  **3.** 'Confirmed' 에 데이터가 없는 행 삭제하기 <br>
  **4.** 'Country_Region'의 국가명을 여러 파일에 일관되게 변경하기 <br>
  **5.** 'Confirmed' 데이터 타입을 int64(정수) 로 변경 <br>
  **6.** 'Country_Region' 를 기준으로 중복된 데이터를 합치기 <br>
  **7.** 파일명을 기반으로 날짜 문자열 변환하고, 'Confirmed' 컬럼명 변경하기

In [20]:
import json
import pandas as pd

with open('00_Material(Uploaded)/COVID-19-master/csse_covid_19_data/country_convert.json', 'r', encoding='utf-8-sig') as json_file:
    json_data = json.load(json_file)

def country_name_convert(row):
    if row['Country_Region'] in json_data:
        return json_data[row['Country_Region']]
    return row['Country_Region']

def create_dateframe(filename):

    doc = pd.read_csv(PATH + filename, encoding='utf-8-sig')  # 1. csv 파일 읽기
    try:
        doc = doc[['Country_Region', 'Confirmed']]  # 2. 특정 컬럼만 선택해서 데이터프레임 만들기
    except:
        doc = doc[['Country/Region', 'Confirmed']]  # 2. 특정 컬럼만 선택해서 데이터프레임 만들기
        doc.columns = ['Country_Region', 'Confirmed']
    doc = doc.dropna(subset=['Confirmed'])     # 3. 특정 컬럼에 없는 데이터 삭제하기
    doc['Country_Region'] = doc.apply(country_name_convert, axis=1)   # 4. 'Country_Region'의 국가명을 여러 파일에 일관되게 변경하기
    doc = doc.astype({'Confirmed': 'int64'})   # 5. 특정 컬럼의 데이터 타입 변경하기
    doc = doc.groupby('Country_Region').sum()  # 6. 특정 컬럼으로 중복된 데이터를 합치기

    # 7. 파일명을 기반으로 날짜 문자열 변환하고, 'Confirmed' 컬럼명 변경하기
    date_column = filename.split(".")[0].lstrip('0').replace('-', '/') 
    doc.columns = [date_column]
    return doc

In [7]:
json_data

{'Mainland China': 'China',
 'Macau': 'China',
 'South Korea': 'Korea, South',
 'Aruba': 'Netherlands',
 ' Azerbaijan': 'Azerbaijan',
 'Bahamas, The': 'Bahamas',
 'Cape Verde': 'Cabo Verde',
 'Cayman Islands': 'United Kingdom',
 'Channel Islands': 'United Kingdom',
 'Curacao': 'Netherlands',
 'Czech Republic': 'Czechia',
 'East Timor': 'Timor-Leste',
 'Faroe Islands': 'Denmark',
 'French Guiana': 'France',
 'Gambia, The': 'Gambia',
 'Gibraltar': 'United Kingdom',
 'Greenland': 'Denmark',
 'Guadeloupe': 'France',
 'Guam': 'US',
 'Guernsey': 'US',
 'Hong Kong': 'China',
 'Hong Kong SAR': 'China',
 'Iran (Islamic Republic of)': 'Iran',
 'Ivory Coast': "Cote d'Ivoire",
 'Jersey': 'US',
 'Macao SAR': 'China',
 'Martinique': 'France',
 'Mayotte': 'France',
 'North Ireland': 'United Kingdom',
 'Palestine': 'West Bank and Gaza',
 'Puerto Rico': 'US',
 'Republic of Ireland': 'Ireland',
 'Republic of Korea': 'Korea, South',
 'Republic of Moldova': 'Moldova',
 'Republic of the Congo': 'Congo (Brazzaville)',
 'Reunion': 'France',
 'Russian Federation': 'Russia',
 'Saint Barthelemy': 'France',
 'Saint Martin': 'France',
 'St. Martin': 'US',
 'Taipei and environs': 'Taiwan',
 'The Bahamas': 'Bahamas',
 'The Gambia': 'Gambia',
 'UK': 'United Kingdom',
 'Vatican City': 'Holy See',
 'Viet Nam': 'Vietnam',
 'occupied Palestinian territory': 'West Bank and Gaza',
 'Taiwan*': 'Taiwan',
 'Malawi': 'France',
 'South Sudan': 'Sudan',
 'Western Sahara': 'Morocco',
 'Namibia': 'Namibia'}

### **3.1** 테스트 해보기

In [12]:
PATH = "00_Material(Uploaded)/COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/"

In [22]:
doc1 = create_dateframe("01-22-2020.csv")
doc2 = create_dateframe("04-01-2020.csv")

In [24]:
doc2.head()

                4/01/2020
Country_Region
Afghanistan           192
Albania               259
Algeria               847
Andorra               390
Angola                  8

#### 데이터프레임 합치기

In [27]:
# doc1, doc2에 있는 모든 나라 정보가 필요하므로 outer로 합치고, 인덱스를 기준으로 합치는 것이므로 left_index와 right_index를 True로 설정하기
doc = pd.merge(doc1, doc2, how='outer', left_index=True, right_index=True)
doc.head()

                1/22/2020  4/01/2020
Country_Region
Afghanistan           NaN        192
Albania               NaN        259
Algeria               NaN        847
Andorra               NaN        390
Angola                NaN          8

#### 없는 데이터는 0으로 값 변경하기

In [30]:
doc = doc.fillna(0)
doc.head()

                1/22/2020  4/01/2020
Country_Region
Afghanistan           0.0        192
Albania               0.0        259
Algeria               0.0        847
Andorra               0.0        390
Angola                0.0          8

#### **3.1.1** 특정 폴더 파일 리스트 확인하기
- `split()` 함수를 사용해서 특정 확장자를 가진 파일 리스트만 추출 가능
- 문자열변수.split('.') 은 ['파일명', '확장자'] 와 같은 리스트가 반환되므로, `문자열변수.split('.')[-1]` 을 통해, 이 중에서 마지막 아이템을 선택하면 됨

In [36]:
import os

PATH = '00_Material(Uploaded)/COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/'
file_list = os.listdir(PATH)
csv_list = list()

for file in file_list:
    if file.split(".")[-1] == 'csv':
        csv_list.append(file)

print (csv_list)

['01-01-2021.csv', '01-01-2022.csv', '01-01-2023.csv', '01-02-2021.csv', '01-02-2022.csv', '01-02-2023.csv', '01-03-2021.csv', '01-03-2022.csv', '01-03-2023.csv', '01-04-2021.csv', '01-04-2022.csv', '01-04-2023.csv', '01-05-2021.csv', '01-05-2022.csv', '01-05-2023.csv', '01-06-2021.csv', '01-06-2022.csv', '01-06-2023.csv', '01-07-2021.csv', '01-07-2022.csv', '01-07-2023.csv', '01-08-2021.csv', '01-08-2022.csv', '01-08-2023.csv', '01-09-2021.csv', '01-09-2022.csv', '01-09-2023.csv', '01-10-2021.csv', '01-10-2022.csv', '01-10-2023.csv', '01-11-2021.csv', '01-11-2022.csv', '01-11-2023.csv', '01-12-2021.csv', '01-12-2022.csv', '01-12-2023.csv', '01-13-2021.csv', '01-13-2022.csv', '01-13-2023.csv', '01-14-2021.csv', '01-14-2022.csv', '01-14-2023.csv', '01-15-2021.csv', '01-15-2022.csv', '01-15-2023.csv', '01-16-2021.csv', '01-16-2022.csv', '01-16-2023.csv', '01-17-2021.csv', '01-17-2022.csv', '01-17-2023.csv', '01-18-2021.csv', '01-18-2022.csv', '01-18-2023.csv', '01-19-2021.csv', '01-19-2022.csv', '01-19-2023.csv', '01-20-2021.csv', '01-20-2022.csv', '01-20-2023.csv', '01-21-2021.csv', '01-21-2022.csv', '01-21-2023.csv', '01-22-2020.csv', '01-22-2021.csv', '01-22-2022.csv', '01-22-2023.csv', '01-23-2020.csv', '01-23-2021.csv', '01-23-2022.csv', '01-23-2023.csv', '01-24-2020.csv', '01-24-2021.csv', '01-24-2022.csv', '01-24-2023.csv', '01-25-2020.csv', '01-25-2021.csv', '01-25-2022.csv', '01-25-2023.csv', '01-26-2020.csv', '01-26-2021.csv', '01-26-2022.csv', '01-26-2023.csv', '01-27-2020.csv', '01-27-2021.csv', '01-27-2022.csv', '01-27-2023.csv', '01-28-2020.csv', '01-28-2021.csv', '01-28-2022.csv', '01-28-2023.csv', '01-29-2020.csv', '01-29-2021.csv', '01-29-2022.csv', '01-29-2023.csv', '01-30-2020.csv', '01-30-2021.csv', '01-30-2022.csv', '01-30-2023.csv', '01-31-2020.csv', '01-31-2021.csv', '01-31-2022.csv', '01-31-2023.csv', '02-01-2020.csv', '02-01-2021.csv', '02-01-2022.csv', '02-01-2023.csv', '02-02-2020.csv', '02-02-2021.csv', '02-02-2022.csv', '02-02-2023.csv', '02-03-2020.csv', '02-03-2021.csv', '02-03-2022.csv', '02-03-2023.csv', '02-04-2020.csv', '02-04-2021.csv', '02-04-2022.csv', '02-04-2023.csv', '02-05-2020.csv', '02-05-2021.csv', '02-05-2022.csv', '02-05-2023.csv', '02-06-2020.csv', '02-06-2021.csv', '02-06-2022.csv', '02-06-2023.csv', '02-07-2020.csv', '02-07-2021.csv', '02-07-2022.csv', '02-07-2023.csv', '02-08-2020.csv', '02-08-2021.csv', '02-08-2022.csv', '02-08-2023.csv', '02-09-2020.csv', '02-09-2021.csv', '02-09-2022.csv', '02-09-2023.csv', '02-10-2020.csv', '02-10-2021.csv', '02-10-2022.csv', '02-10-2023.csv', '02-11-2020.csv', '02-11-2021.csv', '02-11-2022.csv', '02-11-2023.csv', '02-12-2020.csv', '02-12-2021.csv', '02-12-2022.csv', '02-12-2023.csv', '02-13-2020.csv', '02-13-2021.csv', '02-13-2022.csv', '02-13-2023.csv', '02-14-2020.csv', '02-14-2021.csv', '02-14-2022.csv', '02-14-2023.csv', '02-15-2020.csv', '02-15-2021.csv', '02-15-2022.csv', '02-15-2023.csv', '02-16-2020.csv', '02-16-2021.csv', '02-16-2022.csv', '02-16-2023.csv', '02-17-2020.csv', '02-17-2021.csv', '02-17-2022.csv', '02-17-2023.csv', '02-18-2020.csv', '02-18-2021.csv', '02-18-2022.csv', '02-18-2023.csv', '02-19-2020.csv', '02-19-2021.csv', '02-19-2022.csv', '02-19-2023.csv', '02-20-2020.csv', '02-20-2021.csv', '02-20-2022.csv', '02-20-2023.csv', '02-21-2020.csv', '02-21-2021.csv', '02-21-2022.csv', '02-21-2023.csv', '02-22-2020.csv', '02-22-2021.csv', '02-22-2022.csv', '02-22-2023.csv', '02-23-2020.csv', '02-23-2021.csv', '02-23-2022.csv', '02-23-2023.csv', '02-24-2020.csv', '02-24-2021.csv', '02-24-2022.csv', '02-24-2023.csv', '02-25-2020.csv', '02-25-2021.csv', '02-25-2022.csv', '02-25-2023.csv', '02-26-2020.csv', '02-26-2021.csv', '02-26-2022.csv', '02-26-2023.csv', '02-27-2020.csv', '02-27-2021.csv', '02-27-2022.csv', '02-27-2023.csv', '02-28-2020.csv', '02-28-2021.csv', '02-28-2022.csv', '02-28-2023.csv', '02-29-2020.csv', '03-01-2020.csv', '03-01-2021.csv', '03-01-2022.csv', '03-01-2023.csv', '03-02-2020.csv', '03-02-2021.csv', '03-02-2022.csv', '03-02-2023.csv', '03-03-2020.csv', '03-03-2021.csv', '03-03-2022.csv', '03-03-2023.csv', '03-04-2020.csv', '03-04-2021.csv', '03-04-2022.csv', '03-04-2023.csv', '03-05-2020.csv', '03-05-2021.csv', '03-05-2022.csv', '03-05-2023.csv', '03-06-2020.csv', '03-06-2021.csv', '03-06-2022.csv', '03-06-2023.csv', '03-07-2020.csv', '03-07-2021.csv', '03-07-2022.csv', '03-07-2023.csv', '03-08-2020.csv', '03-08-2021.csv', '03-08-2022.csv', '03-08-2023.csv', '03-09-2020.csv', '03-09-2021.csv', '03-09-2022.csv', '03-09-2023.csv', '03-10-2020.csv', '03-10-2021.csv', '03-10-2022.csv', '03-11-2020.csv', '03-11-2021.csv', '03-11-2022.csv', '03-12-2020.csv', '03-12-2021.csv', '03-12-2022.csv', '03-13-2020.csv', '03-13-2021.csv', '03-13-2022.csv', '03-14-2020.csv', '03-14-2021.csv', '03-14-2022.csv', '03-15-2020.csv', '03-15-2021.csv', '03-15-2022.csv', '03-16-2020.csv', '03-16-2021.csv', '03-16-2022.csv', '03-17-2020.csv', '03-17-2021.csv', '03-17-2022.csv', '03-18-2020.csv', '03-18-2021.csv', '03-18-2022.csv', '03-19-2020.csv', '03-19-2021.csv', '03-19-2022.csv', '03-20-2020.csv', '03-20-2021.csv', '03-20-2022.csv', '03-21-2020.csv', '03-21-2021.csv', '03-21-2022.csv', '03-22-2020.csv', '03-22-2021.csv', '03-22-2022.csv', '03-23-2020.csv', '03-23-2021.csv', '03-23-2022.csv', '03-24-2020.csv', '03-24-2021.csv', '03-24-2022.csv', '03-25-2020.csv', '03-25-2021.csv', '03-25-2022.csv', '03-26-2020.csv', '03-26-2021.csv', '03-26-2022.csv', '03-27-2020.csv', '03-27-2021.csv', '03-27-2022.csv', '03-28-2020.csv', '03-28-2021.csv', '03-28-2022.csv', '03-29-2020.csv', '03-29-2021.csv', '03-29-2022.csv', '03-30-2020.csv', '03-30-2021.csv', '03-30-2022.csv', '03-31-2020.csv', '03-31-2021.csv', '03-31-2022.csv', '04-01-2020.csv', '04-01-2021.csv', '04-01-2022.csv', '04-02-2020.csv', '04-02-2021.csv', '04-02-2022.csv', '04-03-2020.csv', '04-03-2021.csv', '04-03-2022.csv', '04-04-2020.csv', '04-04-2021.csv', '04-04-2022.csv', '04-05-2020.csv', '04-05-2021.csv', '04-05-2022.csv', '04-06-2020.csv', '04-06-2021.csv', '04-06-2022.csv', '04-07-2020.csv', '04-07-2021.csv', '04-07-2022.csv', '04-08-2020.csv', '04-08-2021.csv', '04-08-2022.csv', '04-09-2020.csv', '04-09-2021.csv', '04-09-2022.csv', '04-10-2020.csv', '04-10-2021.csv', '04-10-2022.csv', '04-11-2020.csv', '04-11-2021.csv', '04-11-2022.csv', '04-12-2020.csv', '04-12-2021.csv', '04-12-2022.csv', '04-13-2020.csv', '04-13-2021.csv', '04-13-2022.csv', '04-14-2020.csv', '04-14-2021.csv', '04-14-2022.csv', '04-15-2020.csv', '04-15-2021.csv', '04-15-2022.csv', '04-16-2020.csv', '04-16-2021.csv', '04-16-2022.csv', '04-17-2020.csv', '04-17-2021.csv', '04-17-2022.csv', '04-18-2020.csv', '04-18-2021.csv', '04-18-2022.csv', '04-19-2020.csv', '04-19-2021.csv', '04-19-2022.csv', '04-20-2020.csv', '04-20-2021.csv', '04-20-2022.csv', '04-21-2020.csv', '04-21-2021.csv', '04-21-2022.csv', '04-22-2020.csv', '04-22-2021.csv', '04-22-2022.csv', '04-23-2020.csv', '04-23-2021.csv', '04-23-2022.csv', '04-24-2020.csv', '04-24-2021.csv', '04-24-2022.csv', '04-25-2020.csv', '04-25-2021.csv', '04-25-2022.csv', '04-26-2020.csv', '04-26-2021.csv', '04-26-2022.csv', '04-27-2020.csv', '04-27-2021.csv', '04-27-2022.csv', '04-28-2020.csv', '04-28-2021.csv', '04-28-2022.csv', '04-29-2020.csv', '04-29-2021.csv', '04-29-2022.csv', '04-30-2020.csv', '04-30-2021.csv', '04-30-2022.csv', '05-01-2020.csv', '05-01-2021.csv', '05-01-2022.csv', '05-02-2020.csv', '05-02-2021.csv', '05-02-2022.csv', '05-03-2020.csv', '05-03-2021.csv', '05-03-2022.csv', '05-04-2020.csv', '05-04-2021.csv', '05-04-2022.csv', '05-05-2020.csv', '05-05-2021.csv', '05-05-2022.csv', '05-06-2020.csv', '05-06-2021.csv', '05-06-2022.csv', '05-07-2020.csv', '05-07-2021.csv', '05-07-2022.csv', '05-08-2020.csv', '05-08-2021.csv', '05-08-2022.csv', '05-09-2020.csv', '05-09-2021.csv', '05-09-2022.csv', '05-10-2020.csv', '05-10-2021.csv', '05-10-2022.csv', '05-11-2020.csv', '05-11-2021.csv', '05-11-2022.csv', '05-12-2020.csv', '05-12-2021.csv', '05-12-2022.csv', '05-13-2020.csv', '05-13-2021.csv', '05-13-2022.csv', '05-14-2020.csv', '05-14-2021.csv', '05-14-2022.csv', '05-15-2020.csv', '05-15-2021.csv', '05-15-2022.csv', '05-16-2020.csv', '05-16-2021.csv', '05-16-2022.csv', '05-17-2020.csv', '05-17-2021.csv', '05-17-2022.csv', '05-18-2020.csv', '05-18-2021.csv', '05-18-2022.csv', '05-19-2020.csv', '05-19-2021.csv', '05-19-2022.csv', '05-20-2020.csv', '05-20-2021.csv', '05-20-2022.csv', '05-21-2020.csv', '05-21-2021.csv', '05-21-2022.csv', '05-22-2020.csv', '05-22-2021.csv', '05-22-2022.csv', '05-23-2020.csv', '05-23-2021.csv', '05-23-2022.csv', '05-24-2020.csv', '05-24-2021.csv', '05-24-2022.csv', '05-25-2020.csv', '05-25-2021.csv', '05-25-2022.csv', '05-26-2020.csv', '05-26-2021.csv', '05-26-2022.csv', '05-27-2020.csv', '05-27-2021.csv', '05-27-2022.csv', '05-28-2020.csv', '05-28-2021.csv', '05-28-2022.csv', '05-29-2020.csv', '05-29-2021.csv', '05-29-2022.csv', '05-30-2020.csv', '05-30-2021.csv', '05-30-2022.csv', '05-31-2020.csv', '05-31-2021.csv', '05-31-2022.csv', '06-01-2020.csv', '06-01-2021.csv', '06-01-2022.csv', '06-02-2020.csv', '06-02-2021.csv', '06-02-2022.csv', '06-03-2020.csv', '06-03-2021.csv', '06-03-2022.csv', '06-04-2020.csv', '06-04-2021.csv', '06-04-2022.csv', '06-05-2020.csv', '06-05-2021.csv', '06-05-2022.csv', '06-06-2020.csv', '06-06-2021.csv', '06-06-2022.csv', '06-07-2020.csv', '06-07-2021.csv', '06-07-2022.csv', '06-08-2020.csv', '06-08-2021.csv', '06-08-2022.csv', '06-09-2020.csv', '06-09-2021.csv', '06-09-2022.csv', '06-10-2020.csv', '06-10-2021.csv', '06-10-2022.csv', '06-11-2020.csv', '06-11-2021.csv', '06-11-2022.csv', '06-12-2020.csv', '06-12-2021.csv', '06-12-2022.csv', '06-13-2020.csv', '06-13-2021.csv', '06-13-2022.csv', '06-14-2020.csv', '06-14-2021.csv', '06-14-2022.csv', '06-15-2020.csv', '06-15-2021.csv', '06-15-2022.csv', '06-16-2020.csv', '06-16-2021.csv', '06-16-2022.csv', '06-17-2020.csv', '06-17-2021.csv', '06-17-2022.csv', '06-18-2020.csv', '06-18-2021.csv', '06-18-2022.csv', '06-19-2020.csv', '06-19-2021.csv', '06-19-2022.csv', '06-20-2020.csv', '06-20-2021.csv', '06-20-2022.csv', '06-21-2020.csv', '06-21-2021.csv', '06-21-2022.csv', '06-22-2020.csv', '06-22-2021.csv', '06-22-2022.csv', '06-23-2020.csv', '06-23-2021.csv', '06-23-2022.csv', '06-24-2020.csv', '06-24-2021.csv', '06-24-2022.csv', '06-25-2020.csv', '06-25-2021.csv', '06-25-2022.csv', '06-26-2020.csv', '06-26-2021.csv', '06-26-2022.csv', '06-27-2020.csv', '06-27-2021.csv', '06-27-2022.csv', '06-28-2020.csv', '06-28-2021.csv', '06-28-2022.csv', '06-29-2020.csv', '06-29-2021.csv', '06-29-2022.csv', '06-30-2020.csv', '06-30-2021.csv', '06-30-2022.csv', '07-01-2020.csv', '07-01-2021.csv', '07-01-2022.csv', '07-02-2020.csv', '07-02-2021.csv', '07-02-2022.csv', '07-03-2020.csv', '07-03-2021.csv', '07-03-2022.csv', '07-04-2020.csv', '07-04-2021.csv', '07-04-2022.csv', '07-05-2020.csv', '07-05-2021.csv', '07-05-2022.csv', '07-06-2020.csv', '07-06-2021.csv', '07-06-2022.csv', '07-07-2020.csv', '07-07-2021.csv', '07-07-2022.csv', '07-08-2020.csv', '07-08-2021.csv', '07-08-2022.csv', '07-09-2020.csv', '07-09-2021.csv', '07-09-2022.csv', '07-10-2020.csv', '07-10-2021.csv', '07-10-2022.csv', '07-11-2020.csv', '07-11-2021.csv', '07-11-2022.csv', '07-12-2020.csv', '07-12-2021.csv', '07-12-2022.csv', '07-13-2020.csv', '07-13-2021.csv', '07-13-2022.csv', '07-14-2020.csv', '07-14-2021.csv', '07-14-2022.csv', '07-15-2020.csv', '07-15-2021.csv', '07-15-2022.csv', '07-16-2020.csv', '07-16-2021.csv', '07-16-2022.csv', '07-17-2020.csv', '07-17-2021.csv', '07-17-2022.csv', '07-18-2020.csv', '07-18-2021.csv', '07-18-2022.csv', '07-19-2020.csv', '07-19-2021.csv', '07-19-2022.csv', '07-20-2020.csv', '07-20-2021.csv', '07-20-2022.csv', '07-21-2020.csv', '07-21-2021.csv', '07-21-2022.csv', '07-22-2020.csv', '07-22-2021.csv', '07-22-2022.csv', '07-23-2020.csv', '07-23-2021.csv', '07-23-2022.csv', '07-24-2020.csv', '07-24-2021.csv', '07-24-2022.csv', '07-25-2020.csv', '07-25-2021.csv', '07-25-2022.csv', '07-26-2020.csv', '07-26-2021.csv', '07-26-2022.csv', '07-27-2020.csv', '07-27-2021.csv', '07-27-2022.csv', '07-28-2020.csv', '07-28-2021.csv', '07-28-2022.csv', '07-29-2020.csv', '07-29-2021.csv', '07-29-2022.csv', '07-30-2020.csv', '07-30-2021.csv', '07-30-2022.csv', '07-31-2020.csv', '07-31-2021.csv', '07-31-2022.csv', '08-01-2020.csv', '08-01-2021.csv', '08-01-2022.csv', '08-02-2020.csv', '08-02-2021.csv', '08-02-2022.csv', '08-03-2020.csv', '08-03-2021.csv', '08-03-2022.csv', '08-04-2020.csv', '08-04-2021.csv', '08-04-2022.csv', '08-05-2020.csv', '08-05-2021.csv', '08-05-2022.csv', '08-06-2020.csv', '08-06-2021.csv', '08-06-2022.csv', '08-07-2020.csv', '08-07-2021.csv', '08-07-2022.csv', '08-08-2020.csv', '08-08-2021.csv', '08-08-2022.csv', '08-09-2020.csv', '08-09-2021.csv', '08-09-2022.csv', '08-10-2020.csv', '08-10-2021.csv', '08-10-2022.csv', '08-11-2020.csv', '08-11-2021.csv', '08-11-2022.csv', '08-12-2020.csv', '08-12-2021.csv', '08-12-2022.csv', '08-13-2020.csv', '08-13-2021.csv', '08-13-2022.csv', '08-14-2020.csv', '08-14-2021.csv', '08-14-2022.csv', '08-15-2020.csv', '08-15-2021.csv', '08-15-2022.csv', '08-16-2020.csv', '08-16-2021.csv', '08-16-2022.csv', '08-17-2020.csv', '08-17-2021.csv', '08-17-2022.csv', '08-18-2020.csv', '08-18-2021.csv', '08-18-2022.csv', '08-19-2020.csv', '08-19-2021.csv', '08-19-2022.csv', '08-20-2020.csv', '08-20-2021.csv', '08-20-2022.csv', '08-21-2020.csv', '08-21-2021.csv', '08-21-2022.csv', '08-22-2020.csv', '08-22-2021.csv', '08-22-2022.csv', '08-23-2020.csv', '08-23-2021.csv', '08-23-2022.csv', '08-24-2020.csv', '08-24-2021.csv', '08-24-2022.csv', '08-25-2020.csv', '08-25-2021.csv', '08-25-2022.csv', '08-26-2020.csv', '08-26-2021.csv', '08-26-2022.csv', '08-27-2020.csv', '08-27-2021.csv', '08-27-2022.csv', '08-28-2020.csv', '08-28-2021.csv', '08-28-2022.csv', '08-29-2020.csv', '08-29-2021.csv', '08-29-2022.csv', '08-30-2020.csv', '08-30-2021.csv', '08-30-2022.csv', '08-31-2020.csv', '08-31-2021.csv', '08-31-2022.csv', '09-01-2020.csv', '09-01-2021.csv', '09-01-2022.csv', '09-02-2020.csv', '09-02-2021.csv', '09-02-2022.csv', '09-03-2020.csv', '09-03-2021.csv', '09-03-2022.csv', '09-04-2020.csv', '09-04-2021.csv', '09-04-2022.csv', '09-05-2020.csv', '09-05-2021.csv', '09-05-2022.csv', '09-06-2020.csv', '09-06-2021.csv', '09-06-2022.csv', '09-07-2020.csv', '09-07-2021.csv', '09-07-2022.csv', '09-08-2020.csv', '09-08-2021.csv', '09-08-2022.csv', '09-09-2020.csv', '09-09-2021.csv', '09-09-2022.csv', '09-10-2020.csv', '09-10-2021.csv', '09-10-2022.csv', '09-11-2020.csv', '09-11-2021.csv', '09-11-2022.csv', '09-12-2020.csv', '09-12-2021.csv', '09-12-2022.csv', '09-13-2020.csv', '09-13-2021.csv', '09-13-2022.csv', '09-14-2020.csv', '09-14-2021.csv', '09-14-2022.csv', '09-15-2020.csv', '09-15-2021.csv', '09-15-2022.csv', '09-16-2020.csv', '09-16-2021.csv', '09-16-2022.csv', '09-17-2020.csv', '09-17-2021.csv', '09-17-2022.csv', '09-18-2020.csv', '09-18-2021.csv', '09-18-2022.csv', '09-19-2020.csv', '09-19-2021.csv', '09-19-2022.csv', '09-20-2020.csv', '09-20-2021.csv', '09-20-2022.csv', '09-21-2020.csv', '09-21-2021.csv', '09-21-2022.csv', '09-22-2020.csv', '09-22-2021.csv', '09-22-2022.csv', '09-23-2020.csv', '09-23-2021.csv', '09-23-2022.csv', '09-24-2020.csv', '09-24-2021.csv', '09-24-2022.csv', '09-25-2020.csv', '09-25-2021.csv', '09-25-2022.csv', '09-26-2020.csv', '09-26-2021.csv', '09-26-2022.csv', '09-27-2020.csv', '09-27-2021.csv', '09-27-2022.csv', '09-28-2020.csv', '09-28-2021.csv', '09-28-2022.csv', '09-29-2020.csv', '09-29-2021.csv', '09-29-2022.csv', '09-30-2020.csv', '09-30-2021.csv', '09-30-2022.csv', '10-01-2020.csv', '10-01-2021.csv', '10-01-2022.csv', '10-02-2020.csv', '10-02-2021.csv', '10-02-2022.csv', '10-03-2020.csv', '10-03-2021.csv', '10-03-2022.csv', '10-04-2020.csv', '10-04-2021.csv', '10-04-2022.csv', '10-05-2020.csv', '10-05-2021.csv', '10-05-2022.csv', '10-06-2020.csv', '10-06-2021.csv', '10-06-2022.csv', '10-07-2020.csv', '10-07-2021.csv', '10-07-2022.csv', '10-08-2020.csv', '10-08-2021.csv', '10-08-2022.csv', '10-09-2020.csv', '10-09-2021.csv', '10-09-2022.csv', '10-10-2020.csv', '10-10-2021.csv', '10-10-2022.csv', '10-11-2020.csv', '10-11-2021.csv', '10-11-2022.csv', '10-12-2020.csv', '10-12-2021.csv', '10-12-2022.csv', '10-13-2020.csv', '10-13-2021.csv', '10-13-2022.csv', '10-14-2020.csv', '10-14-2021.csv', '10-14-2022.csv', '10-15-2020.csv', '10-15-2021.csv', '10-15-2022.csv', '10-16-2020.csv', '10-16-2021.csv', '10-16-2022.csv', '10-17-2020.csv', '10-17-2021.csv', '10-17-2022.csv', '10-18-2020.csv', '10-18-2021.csv', '10-18-2022.csv', '10-19-2020.csv', '10-19-2021.csv', '10-19-2022.csv', '10-20-2020.csv', '10-20-2021.csv', '10-20-2022.csv', '10-21-2020.csv', '10-21-2021.csv', '10-21-2022.csv', '10-22-2020.csv', '10-22-2021.csv', '10-22-2022.csv', '10-23-2020.csv', '10-23-2021.csv', '10-23-2022.csv', '10-24-2020.csv', '10-24-2021.csv', '10-24-2022.csv', '10-25-2020.csv', '10-25-2021.csv', '10-25-2022.csv', '10-26-2020.csv', '10-26-2021.csv', '10-26-2022.csv', '10-27-2020.csv', '10-27-2021.csv', '10-27-2022.csv', '10-28-2020.csv', '10-28-2021.csv', '10-28-2022.csv', '10-29-2020.csv', '10-29-2021.csv', '10-29-2022.csv', '10-30-2020.csv', '10-30-2021.csv', '10-30-2022.csv', '10-31-2020.csv', '10-31-2021.csv', '10-31-2022.csv', '11-01-2020.csv', '11-01-2021.csv', '11-01-2022.csv', '11-02-2020.csv', '11-02-2021.csv', '11-02-2022.csv', '11-03-2020.csv', '11-03-2021.csv', '11-03-2022.csv', '11-04-2020.csv', '11-04-2021.csv', '11-04-2022.csv', '11-05-2020.csv', '11-05-2021.csv', '11-05-2022.csv', '11-06-2020.csv', '11-06-2021.csv', '11-06-2022.csv', '11-07-2020.csv', '11-07-2021.csv', '11-07-2022.csv', '11-08-2020.csv', '11-08-2021.csv', '11-08-2022.csv', '11-09-2020.csv', '11-09-2021.csv', '11-09-2022.csv', '11-10-2020.csv', '11-10-2021.csv', '11-10-2022.csv', '11-11-2020.csv', '11-11-2021.csv', '11-11-2022.csv', '11-12-2020.csv', '11-12-2021.csv', '11-12-2022.csv', '11-13-2020.csv', '11-13-2021.csv', '11-13-2022.csv', '11-14-2020.csv', '11-14-2021.csv', '11-14-2022.csv', '11-15-2020.csv', '11-15-2021.csv', '11-15-2022.csv', '11-16-2020.csv', '11-16-2021.csv', '11-16-2022.csv', '11-17-2020.csv', '11-17-2021.csv', '11-17-2022.csv', '11-18-2020.csv', '11-18-2021.csv', '11-18-2022.csv', '11-19-2020.csv', '11-19-2021.csv', '11-19-2022.csv', '11-20-2020.csv', '11-20-2021.csv', '11-20-2022.csv', '11-21-2020.csv', '11-21-2021.csv', '11-21-2022.csv', '11-22-2020.csv', '11-22-2021.csv', '11-22-2022.csv', '11-23-2020.csv', '11-23-2021.csv', '11-23-2022.csv', '11-24-2020.csv', '11-24-2021.csv', '11-24-2022.csv', '11-25-2020.csv', '11-25-2021.csv', '11-25-2022.csv', '11-26-2020.csv', '11-26-2021.csv', '11-26-2022.csv', '11-27-2020.csv', '11-27-2021.csv', '11-27-2022.csv', '11-28-2020.csv', '11-28-2021.csv', '11-28-2022.csv', '11-29-2020.csv', '11-29-2021.csv', '11-29-2022.csv', '11-30-2020.csv', '11-30-2021.csv', '11-30-2022.csv', '12-01-2020.csv', '12-01-2021.csv', '12-01-2022.csv', '12-02-2020.csv', '12-02-2021.csv', '12-02-2022.csv', '12-03-2020.csv', '12-03-2021.csv', '12-03-2022.csv', '12-04-2020.csv', '12-04-2021.csv', '12-04-2022.csv', '12-05-2020.csv', '12-05-2021.csv', '12-05-2022.csv', '12-06-2020.csv', '12-06-2021.csv', '12-06-2022.csv', '12-07-2020.csv', '12-07-2021.csv', '12-07-2022.csv', '12-08-2020.csv', '12-08-2021.csv', '12-08-2022.csv', '12-09-2020.csv', '12-09-2021.csv', '12-09-2022.csv', '12-10-2020.csv', '12-10-2021.csv', '12-10-2022.csv', '12-11-2020.csv', '12-11-2021.csv', '12-11-2022.csv', '12-12-2020.csv', '12-12-2021.csv', '12-12-2022.csv', '12-13-2020.csv', '12-13-2021.csv', '12-13-2022.csv', '12-14-2020.csv', '12-14-2021.csv', '12-14-2022.csv', '12-15-2020.csv', '12-15-2021.csv', '12-15-2022.csv', '12-16-2020.csv', '12-16-2021.csv', '12-16-2022.csv', '12-17-2020.csv', '12-17-2021.csv', '12-17-2022.csv', '12-18-2020.csv', '12-18-2021.csv', '12-18-2022.csv', '12-19-2020.csv', '12-19-2021.csv', '12-19-2022.csv', '12-20-2020.csv', '12-20-2021.csv', '12-20-2022.csv', '12-21-2020.csv', '

#### **3.1.2** 리스트 정렬
- `리스트변수.sort()` : 오름차순 정렬 (디폴트)
- `리스트변수.sort(reverse=True)` : 내림차순 정렬
- `리스트변수.sort(key=키함수)` : 키 함수를 사용하여 정렬 기준 설정

In [51]:
csv_list.sort(key=lambda x: (x[6:10], x[:2], x[3:5]))
csv_list

['01-22-2020.csv',
 '01-23-2020.csv',
 '01-24-2020.csv',
 '01-25-2020.csv',
 '01-26-2020.csv',
 '01-27-2020.csv',
 '01-28-2020.csv',
 '01-29-2020.csv',
 '01-30-2020.csv',
 '01-31-2020.csv',
 '02-01-2020.csv',
 '02-02-2020.csv',
 '02-03-2020.csv',
 '02-04-2020.csv',
 '02-05-2020.csv',
 '02-06-2020.csv',
 '02-07-2020.csv',
 '02-08-2020.csv',
 '02-09-2020.csv',
 '02-10-2020.csv',
 '02-11-2020.csv',
 '02-12-2020.csv',
 '02-13-2020.csv',
 '02-14-2020.csv',
 '02-15-2020.csv',
 '02-16-2020.csv',
 '02-17-2020.csv',
 '02-18-2020.csv',
 '02-19-2020.csv',
 '02-20-2020.csv',
 '02-21-2020.csv',
 '02-22-2020.csv',
 '02-23-2020.csv',
 '02-24-2020.csv',
 '02-25-2020.csv',
 '02-26-2020.csv',
 '02-27-2020.csv',
 '02-28-2020.csv',
 '02-29-2020.csv',
 '03-01-2020.csv',
 '03-02-2020.csv',
 '03-03-2020.csv',
 '03-04-2020.csv',
 '03-05-2020.csv',
 '03-06-2020.csv',
 '03-07-2020.csv',
 '03-08-2020.csv',
 '03-09-2020.csv',
 '03-10-2020.csv',
 '03-11-2020.csv',
 '03-12-2020.csv',
 '03-13-2020.csv',
 '03-14-2020.csv',
 '03-15-2020.csv',
 '03-16-2020.csv',
 '03-17-2020.csv',
 '03-18-2020.csv',
 '03-19-2020.csv',
 '03-20-2020.csv',
 '03-21-2020.csv',
 '03-22-2020.csv',
 '03-23-2020.csv',
 '03-24-2020.csv',
 '03-25-2020.csv',
 '03-26-2020.csv',
 '03-27-2020.csv',
 '03-28-2020.csv',
 '03-29-2020.csv',
 '03-30-2020.csv',
 '03-31-2020.csv',
 '04-01-2020.csv',
 '04-02-2020.csv',
 '04-03-2020.csv',
 '04-04-2020.csv',
 '04-05-2020.csv',
 '04-06-2020.csv',
 '04-07-2020.csv',
 '04-08-2020.csv',
 '04-09-2020.csv',
 '04-10-2020.csv',
 '04-11-2020.csv',
 '04-12-2020.csv',
 '04-13-2020.csv',
 '04-14-2020.csv',
 '04-15-2020.csv',
 '04-16-2020.csv',
 '04-17-2020.csv',
 '04-18-2020.csv',
 '04-19-2020.csv',
 '04-20-2020.csv',
 '04-21-2020.csv',
 '04-22-2020.csv',
 '04-23-2020.csv',
 '04-24-2020.csv',
 '04-25-2020.csv',
 '04-26-2020.csv',
 '04-27-2020.csv',
 '04-28-2020.csv',
 '04-29-2020.csv',
 '04-30-2020.csv',
 '05-01-2020.csv',
 '05-02-2020.csv',
 '05-03-2020.csv',
 '05-04-2020.csv',
 '05-05-2020.csv',
 '05-06-2020.csv',
 '05-07-2020.csv',
 '05-08-2020.csv',
 '05-09-2020.csv',
 '05-10-2020.csv',
 '05-11-2020.csv',
 '05-12-2020.csv',
 '05-13-2020.csv',
 '05-14-2020.csv',
 '05-15-2020.csv',
 '05-16-2020.csv',
 '05-17-2020.csv',
 '05-18-2020.csv',
 '05-19-2020.csv',
 '05-20-2020.csv',
 '05-21-2020.csv',
 '05-22-2020.csv',
 '05-23-2020.csv',
 '05-24-2020.csv',
 '05-25-2020.csv',
 '05-26-2020.csv',
 '05-27-2020.csv',
 '05-28-2020.csv',
 '05-29-2020.csv',
 '05-30-2020.csv',
 '05-31-2020.csv',
 '06-01-2020.csv',
 '06-02-2020.csv',
 '06-03-2020.csv',
 '06-04-2020.csv',
 '06-05-2020.csv',
 '06-06-2020.csv',
 '06-07-2020.csv',
 '06-08-2020.csv',
 '06-09-2020.csv',
 '06-10-2020.csv',
 '06-11-2020.csv',
 '06-12-2020.csv',
 '06-13-2020.csv',
 '06-14-2020.csv',
 '06-15-2020.csv',
 '06-16-2020.csv',
 '06-17-2020.csv',
 '06-18-2020.csv',
 '06-19-2020.csv',
 '06-20-2020.csv',
 '06-21-2020.csv',
 '06-22-2020.csv',
 '06-23-2020.csv',
 '06-24-2020.csv',
 '06-25-2020.csv',
 '06-26-2020.csv',
 '06-27-2020.csv',
 '06-28-2020.csv',
 '06-29-2020.csv',
 '06-30-2020.csv',
 '07-01-2020.csv',
 '07-02-2020.csv',
 '07-03-2020.csv',
 '07-04-2020.csv',
 '07-05-2020.csv',
 '07-06-2020.csv',
 '07-07-2020.csv',
 '07-08-2020.csv',
 '07-09-2020.csv',
 '07-10-2020.csv',
 '07-11-2020.csv',
 '07-12-2020.csv',
 '07-13-2020.csv',
 '07-14-2020.csv',
 '07-15-2020.csv',
 '07-16-2020.csv',
 '07-17-2020.csv',
 '07-18-2020.csv',
 '07-19-2020.csv',
 '07-20-2020.csv',
 '07-21-2020.csv',
 '07-22-2020.csv',
 '07-23-2020.csv',
 '07-24-2020.csv',
 '07-25-2020.csv',
 '07-26-2020.csv',
 '07-27-2020.csv',
 '07-28-2020.csv',
 '07-29-2020.csv',
 '07-30-2020.csv',
 '07-31-2020.csv',
 '08-01-2020.csv',
 '08-02-2020.csv',
 '08-03-2020.csv',
 '08-04-2020.csv',
 '08-05-2020.csv',
 '08-06-2020.csv',
 '08-07-2020.csv',
 '08-08-2020.csv',
 '08-09-2020.csv',
 '08-10-2020.csv',
 '08-11-2020.csv',
 '08-12-2020.csv',
 '08-13-2020.csv',
 '08-14-2020.csv',
 '08-15-2020.csv',
 '08-16-2020.csv',
 '08-17-2020.csv',
 '08-18-2020.csv',
 '08-19-2020.csv',
 '08-20-2020.csv',
 '08-21-2020.csv',
 '08-22-2020.csv',
 '08-23-2020.csv',
 '08-24-2020.csv',
 '08-25-2020.csv',
 '08-26-2020.csv',
 '08-27-2020.csv',
 '08-28-2020.csv',
 '08-29-2020.csv',
 '08-30-2020.csv',
 '08-31-2020.csv',
 '09-01-2020.csv',
 '09-02-2020.csv',
 '09-03-2020.csv',
 '09-04-2020.csv',
 '09-05-2020.csv',
 '09-06-2020.csv',
 '09-07-2020.csv',
 '09-08-2020.csv',
 '09-09-2020.csv',
 '09-10-2020.csv',
 '09-11-2020.csv',
 '09-12-2020.csv',
 '09-13-2020.csv',
 '09-14-2020.csv',
 '09-15-2020.csv',
 '09-16-2020.csv',
 '09-17-2020.csv',
 '09-18-2020.csv',
 '09-19-2020.csv',
 '09-20-2020.csv',
 '09-21-2020.csv',
 '09-22-2020.csv',
 '09-23-2020.csv',
 '09-24-2020.csv',
 '09-25-2020.csv',
 '09-26-2020.csv',
 '09-27-2020.csv',
 '09-28-2020.csv',
 '09-29-2020.csv',
 '09-30-2020.csv',
 '10-01-2020.csv',
 '10-02-2020.csv',
 '10-03-2020.csv',
 '10-04-2020.csv',
 '10-05-2020.csv',
 '10-06-2020.csv',
 '10-07-2020.csv',
 '10-08-2020.csv',
 '10-09-2020.csv',
 '10-10-2020.csv',
 '10-11-2020.csv',
 '10-12-2020.csv',
 '10-13-2020.csv',
 '10-14-2020.csv',
 '10-15-2020.csv',
 '10-16-2020.csv',
 '10-17-2020.csv',
 '10-18-2020.csv',
 '10-19-2020.csv',
 '10-20-2020.csv',
 '10-21-2020.csv',
 '10-22-2020.csv',
 '10-23-2020.csv',
 '10-24-2020.csv',
 '10-25-2020.csv',
 '10-26-2020.csv',
 '10-27-2020.csv',
 '10-28-2020.csv',
 '10-29-2020.csv',
 '10-30-2020.csv',
 '10-31-2020.csv',
 '11-01-2020.csv',
 '11-02-2020.csv',
 '11-03-2020.csv',
 '11-04-2020.csv',
 '11-05-2020.csv',
 '11-06-2020.csv',
 '11-07-2020.csv',
 '11-08-2020.csv',
 '11-09-2020.csv',
 '11-10-2020.csv',
 '11-11-2020.csv',
 '11-12-2020.csv',
 '11-13-2020.csv',
 '11-14-2020.csv',
 '11-15-2020.csv',
 '11-16-2020.csv',
 '11-17-2020.csv',
 '11-18-2020.csv',
 '11-19-2020.csv',
 '11-20-2020.csv',
 '11-21-2020.csv',
 '11-22-2020.csv',
 '11-23-2020.csv',
 '11-24-2020.csv',
 '11-25-2020.csv',
 '11-26-2020.csv',
 '11-27-2020.csv',
 '11-28-2020.csv',
 '11-29-2020.csv',
 '11-30-2020.csv',
 '12-01-2020.csv',
 '12-02-2020.csv',
 '12-03-2020.csv',
 '12-04-2020.csv',
 '12-05-2020.csv',
 '12-06-2020.csv',
 '12-07-2020.csv',
 '12-08-2020.csv',
 '12-09-2020.csv',
 '12-10-2020.csv',
 '12-11-2020.csv',
 '12-12-2020.csv',
 '12-13-2020.csv',
 '12-14-2020.csv',
 '12-15-2020.csv',
 '12-16-2020.csv',
 '12-17-2020.csv',
 '12-18-2020.csv',
 '12-19-2020.csv',
 '12-20-2020.csv',
 '12-21-2020.csv',
 '12-22-2020.csv',
 '12-23-2020.csv',
 '12-24-2020.csv',
 '12-25-2020.csv',
 '12-26-2020.csv',
 '12-27-2020.csv',
 '12-28-2020.csv',
 '12-29-2020.csv',
 '12-30-2020.csv',
 '12-31-2020.csv',
 '01-01-2021.csv',
 '01-02-2021.csv',
 '01-03-2021.csv',
 '01-04-2021.csv',
 '01-05-2021.csv',
 '01-06-2021.csv',
 '01-07-2021.csv',
 '01-08-2021.csv',
 '01-09-2021.csv',
 '01-10-2021.csv',
 '01-11-2021.csv',
 '01-12-2021.csv',
 '01-13-2021.csv',
 '01-14-2021.csv',
 '01-15-2021.csv',
 '01-16-2021.csv',
 '01-17-2021.csv',
 '01-18-2021.csv',
 '01-19-2021.csv',
 '01-20-2021.csv',
 '01-21-2021.csv',
 '01-22-2021.csv',
 '01-23-2021.csv',
 '01-24-2021.csv',
 '01-25-2021.csv',
 '01-26-2021.csv',
 '01-27-2021.csv',
 '01-28-2021.csv',
 '01-29-2021.csv',
 '01-30-2021.csv',
 '01-31-2021.csv',
 '02-01-2021.csv',
 '02-02-2021.csv',
 '02-03-2021.csv',
 '02-04-2021.csv',
 '02-05-2021.csv',
 '02-06-2021.csv',
 '02-07-2021.csv',
 '02-08-2021.csv',
 '02-09-2021.csv',
 '02-10-2021.csv',
 '02-11-2021.csv',
 '02-12-2021.csv',
 '02-13-2021.csv',
 '02-14-2021.csv',
 '02-15-2021.csv',
 '02-16-2021.csv',
 '02-17-2021.csv',
 '02-18-2021.csv',
 '02-19-2021.csv',
 '02-20-2021.csv',
 '02-21-2021.csv',
 '02-22-2021.csv',
 '02-23-2021.csv',
 '02-24-2021.csv',
 '02-25-2021.csv',
 '02-26-2021.csv',
 '02-27-2021.csv',
 '02-28-2021.csv',
 '03-01-2021.csv',
 '03-02-2021.csv',
 '03-03-2021.csv',
 '03-04-2021.csv',
 '03-05-2021.csv',
 '03-06-2021.csv',
 '03-07-2021.csv',
 '03-08-2021.csv',
 '03-09-2021.csv',
 '03-10-2021.csv',
 '03-11-2021.csv',
 '03-12-2021.csv',
 '03-13-2021.csv',
 '03-14-2021.csv',
 '03-15-2021.csv',
 '03-16-2021.csv',
 '03-17-2021.csv',
 '03-18-2021.csv',
 '03-19-2021.csv',
 '03-20-2021.csv',
 '03-21-2021.csv',
 '03-22-2021.csv',
 '03-23-2021.csv',
 '03-24-2021.csv',
 '03-25-2021.csv',
 '03-26-2021.csv',
 '03-27-2021.csv',
 '03-28-2021.csv',
 '03-29-2021.csv',
 '03-30-2021.csv',
 '03-31-2021.csv',
 '04-01-2021.csv',
 '04-02-2021.csv',
 '04-03-2021.csv',
 '04-04-2021.csv',
 '04-05-2021.csv',
 '04-06-2021.csv',
 '04-07-2021.csv',
 '04-08-2021.csv',
 '04-09-2021.csv',
 '04-10-2021.csv',
 '04-11-2021.csv',
 '04-12-2021.csv',
 '04-13-2021.csv',
 '04-14-2021.csv',
 '04-15-2021.csv',
 '04-16-2021.csv',
 '04-17-2021.csv',
 '04-18-2021.csv',
 '04-19-2021.csv',
 '04-20-2021.csv',
 '04-21-2021.csv',
 '04-22-2021.csv',
 '04-23-2021.csv',
 '04-24-2021.csv',
 '04-25-2021.csv',
 '04-26-2021.csv',
 '04-27-2021.csv',
 '04-28-2021.csv',
 '04-29-2021.csv',
 '04-30-2021.csv',
 '05-01-2021.csv',
 '05-02-2021.csv',
 '05-03-2021.csv',
 '05-04-2021.csv',
 '05-05-2021.csv',
 '05-06-2021.csv',
 '05-07-2021.csv',
 '05-08-2021.csv',
 '05-09-2021.csv',
 '05-10-2021.csv',
 '05-11-2021.csv',
 '05-12-2021.csv',
 '05-13-2021.csv',
 '05-14-2021.csv',
 '05-15-2021.csv',
 '05-16-2021.csv',
 '05-17-2021.csv',
 '05-18-2021.csv',
 '05-19-2021.csv',
 '05-20-2021.csv',
 '05-21-2021.csv',
 '05-22-2021.csv',
 '05-23-2021.csv',
 '05-24-2021.csv',
 '05-25-2021.csv',
 '05-26-2021.csv',
 '05-27-2021.csv',
 '05-28-2021.csv',
 '05-29-2021.csv',
 '05-30-2021.csv',
 '05-31-2021.csv',
 '06-01-2021.csv',
 '06-02-2021.csv',
 '06-03-2021.csv',
 '06-04-2021.csv',
 '06-05-2021.csv',
 '06-06-2021.csv',
 '06-07-2021.csv',
 '06-08-2021.csv',
 '06-09-2021.csv',
 '06-10-2021.csv',
 '06-11-2021.csv',
 '06-12-2021.csv',
 '06-13-2021.csv',
 '06-14-2021.csv',
 '06-15-2021.csv',
 '06-16-2021.csv',
 '06-17-2021.csv',
 '06-18-2021.csv',
 '06-19-2021.csv',
 '06-20-2021.csv',
 '06-21-2021.csv',
 '06-22-2021.csv',
 '06-23-2021.csv',
 '06-24-2021.csv',
 '06-25-2021.csv',
 '06-26-2021.csv',
 '06-27-2021.csv',
 '06-28-2021.csv',
 '06-29-2021.csv',
 '06-30-2021.csv',
 '07-01-2021.csv',
 '07-02-2021.csv',
 '07-03-2021.csv',
 '07-04-2021.csv',
 '07-05-2021.csv',
 '07-06-2021.csv',
 '07-07-2021.csv',
 '07-08-2021.csv',
 '07-09-2021.csv',
 '07-10-2021.csv',
 '07-11-2021.csv',
 '07-12-2021.csv',
 '07-13-2021.csv',
 '07-14-2021.csv',
 '07-15-2021.csv',
 '07-16-2021.csv',
 '07-17-2021.csv',
 '07-18-2021.csv',
 '07-19-2021.csv',
 '07-20-2021.csv',
 '07-21-2021.csv',
 '07-22-2021.csv',
 '07-23-2021.csv',
 '07-24-2021.csv',
 '07-25-2021.csv',
 '07-26-2021.csv',
 '07-27-2021.csv',
 '07-28-2021.csv',
 '07-29-2021.csv',
 '07-30-2021.csv',
 '07-31-2021.csv',
 '08-01-2021.csv',
 '08-02-2021.csv',
 '08-03-2021.csv',
 '08-04-2021.csv',
 '08-05-2021.csv',
 '08-06-2021.csv',
 '08-07-2021.csv',
 '08-08-2021.csv',
 '08-09-2021.csv',
 '08-10-2021.csv',
 '08-11-2021.csv',
 '08-12-2021.csv',
 '08-13-2021.csv',
 '08-14-2021.csv',
 '08-15-2021.csv',
 '08-16-2021.csv',
 '08-17-2021.csv',
 '08-18-2021.csv',
 '08-19-2021.csv',
 '08-20-2021.csv',
 '08-21-2021.csv',
 '08-22-2021.csv',
 '08-23-2021.csv',
 '08-24-2021.csv',
 '08-25-2021.csv',
 '08-26-2021.csv',
 '08-27-2021.csv',
 '08-28-2021.csv',
 '08-29-2021.csv',
 '08-30-2021.csv',
 '08-31-2021.csv',
 '09-01-2021.csv',
 '09-02-2021.csv',
 '09-03-2021.csv',
 '09-04-2021.csv',
 '09-05-2021.csv',
 '09-06-2021.csv',
 '09-07-2021.csv',
 '09-08-2021.csv',
 '09-09-2021.csv',
 '09-10-2021.csv',
 '09-11-2021.csv',
 '09-12-2021.csv',
 '09-13-2021.csv',
 '09-14-2021.csv',
 '09-15-2021.csv',
 '09-16-2021.csv',
 '09-17-2021.csv',
 '09-18-2021.csv',
 '09-19-2021.csv',
 '09-20-2021.csv',
 '09-21-2021.csv',
 '09-22-2021.csv',
 '09-23-2021.csv',
 '09-24-2021.csv',
 '09-25-2021.csv',
 '09-26-2021.csv',
 '09-27-2021.csv',
 '09-28-2021.csv',
 '09-29-2021.csv',
 '09-30-2021.csv',
 '10-01-2021.csv',
 '10-02-2021.csv',
 '10-03-2021.csv',
 '10-04-2021.csv',
 '10-05-2021.csv',
 '10-06-2021.csv',
 '10-07-2021.csv',
 '10-08-2021.csv',
 '10-09-2021.csv',
 '10-10-2021.csv',
 '10-11-2021.csv',
 '10-12-2021.csv',
 '10-13-2021.csv',
 '10-14-2021.csv',
 '10-15-2021.csv',
 '10-16-2021.csv',
 '10-17-2021.csv',
 '10-18-2021.csv',
 '10-19-2021.csv',
 '10-20-2021.csv',
 '10-21-2021.csv',
 '10-22-2021.csv',
 '10-23-2021.csv',
 '10-24-2021.csv',
 '10-25-2021.csv',
 '10-26-2021.csv',
 '10-27-2021.csv',
 '10-28-2021.csv',
 '10-29-2021.csv',
 '10-30-2021.csv',
 '10-31-2021.csv',
 '11-01-2021.csv',
 '11-02-2021.csv',
 '11-03-2021.csv',
 '11-04-2021.csv',
 '11-05-2021.csv',
 '11-06-2021.csv',
 '11-07-2021.csv',
 '11-08-2021.csv',
 '11-09-2021.csv',
 '11-10-2021.csv',
 '11-11-2021.csv',
 '11-12-2021.csv',
 '11-13-2021.csv',
 '11-14-2021.csv',
 '11-15-2021.csv',
 '11-16-2021.csv',
 '11-17-2021.csv',
 '11-18-2021.csv',
 '11-19-2021.csv',
 '11-20-2021.csv',
 '11-21-2021.csv',
 '11-22-2021.csv',
 '11-23-2021.csv',
 '11-24-2021.csv',
 '11-25-2021.csv',
 '11-26-2021.csv',
 '11-27-2021.csv',
 '11-28-2021.csv',
 '11-29-2021.csv',
 '11-30-2021.csv',
 '12-01-2021.csv',
 '12-02-2021.csv',
 '12-03-2021.csv',
 '12-04-2021.csv',
 '12-05-2021.csv',
 '12-06-2021.csv',
 '12-07-2021.csv',
 '12-08-2021.csv',
 '12-09-2021.csv',
 '12-10-2021.csv',
 '12-11-2021.csv',
 '12-12-2021.csv',
 '12-13-2021.csv',
 '12-14-2021.csv',
 '12-15-2021.csv',
 '12-16-2021.csv',
 '12-17-2021.csv',
 '12-18-2021.csv',
 '12-19-2021.csv',
 '12-20-2021.csv',
 '12-21-2021.csv',
 '12-22-2021.csv',
 '12-23-2021.csv',
 '12-24-2021.csv',
 '12-25-2021.csv',
 '12-26-2021.csv',
 '12-27-2021.csv',
 '12-28-2021.csv',
 '12-29-2021.csv',
 '12-30-2021.csv',
 '12-31-2021.csv',
 '01-01-2022.csv',
 '01-02-2022.csv',
 '01-03-2022.csv',
 '01-04-2022.csv',
 '01-05-2022.csv',
 '01-06-2022.csv',
 '01-07-2022.csv',
 '01-08-2022.csv',
 '01-09-2022.csv',
 '01-10-2022.csv',
 '01-11-2022.csv',
 '01-12-2022.csv',
 '01-13-2022.csv',
 '01-14-2022.csv',
 '01-15-2022.csv',
 '01-16-2022.csv',
 '01-17-2022.csv',
 '01-18-2022.csv',
 '01-19-2022.csv',
 '01-20-2022.csv',
 '01-21-2022.csv',
 '01-22-2022.csv',
 '01-23-2022.csv',
 '01-24-2022.csv',
 '01-25-2022.csv',
 '01-26-2022.csv',
 '01-27-2022.csv',
 '01-28-2022.csv',
 '01-29-2022.csv',
 '01-30-2022.csv',
 '01-31-2022.csv',
 '02-01-2022.csv',
 '02-02-2022.csv',
 '02-03-2022.csv',
 '02-04-2022.csv',
 '02-05-2022.csv',
 '02-06-2022.csv',
 '02-07-2022.csv',
 '02-08-2022.csv',
 '02-09-2022.csv',
 '02-10-2022.csv',
 '02-11-2022.csv',
 '02-12-2022.csv',
 '02-13-2022.csv',
 '02-14-2022.csv',
 '02-15-2022.csv',
 '02-16-2022.csv',
 '02-17-2022.csv',
 '02-18-2022.csv',
 '02-19-2022.csv',
 '02-20-2022.csv',
 '02-21-2022.csv',
 '02-22-2022.csv',
 '02-23-2022.csv',
 '02-24-2022.csv',
 '02-25-2022.csv',
 '02-26-2022.csv',
 '02-27-2022.csv',
 '02-28-2022.csv',
 '03-01-2022.csv',
 '03-02-2022.csv',
 '03-03-2022.csv',
 '03-04-2022.csv',
 '03-05-2022.csv',
 '03-06-2022.csv',
 '03-07-2022.csv',
 '03-08-2022.csv',
 '03-09-2022.csv',
 '03-10-2022.csv',
 '03-11-2022.csv',
 '03-12-2022.csv',
 '03-13-2022.csv',
 '03-14-2022.csv',
 '03-15-2022.csv',
 '03-16-2022.csv',
 '03-17-2022.csv',
 '03-18-2022.csv',
 '03-19-2022.csv',
 '03-20-2022.csv',
 '03-21-2022.csv',
 '03-22-2022.csv',
 '03-23-2022.csv',
 '03-24-2022.csv',
 '03-25-2022.csv',
 '03-26-2022.csv',
 '03-27-2022.csv',
 '03-28-2022.csv',
 '03-29-2022.csv',
 '03-30-2022.csv',
 '03-31-2022.csv',
 '04-01-2022.csv',
 '04-02-2022.csv',
 '04-03-2022.csv',
 '04-04-2022.csv',
 '04-05-2022.csv',
 '04-06-2022.csv',
 '04-07-2022.csv',
 '04-08-2022.csv',
 '04-09-2022.csv',
 '04-10-2022.csv',
 '04-11-2022.csv',
 '04-12-2022.csv',
 '04-13-2022.csv',
 '04-14-2022.csv',
 '04-15-2022.csv',
 '04-16-2022.csv',
 '04-17-2022.csv',
 '04-18-2022.csv',
 '04-19-2022.csv',
 '04-20-2022.csv',
 '04-21-2022.csv',
 '04-22-2022.csv',
 '04-23-2022.csv',
 '04-24-2022.csv',
 '04-25-2022.csv',
 '04-26-2022.csv',
 '04-27-2022.csv',
 '04-28-2022.csv',
 '04-29-2022.csv',
 '04-30-2022.csv',
 '05-01-2022.csv',
 '05-02-2022.csv',
 '05-03-2022.csv',
 '05-04-2022.csv',
 '05-05-2022.csv',
 '05-06-2022.csv',
 '05-07-2022.csv',
 '05-08-2022.csv',
 '05-09-2022.csv',
 '05-10-2022.csv',
 '05-11-2022.csv',
 '05-12-2022.csv',
 '05-13-2022.csv',
 '05-14-2022.csv',
 '05-15-2022.csv',
 '05-16-2022.csv',
 '05-17-2022.csv',
 '05-18-2022.csv',
 '05-19-2022.csv',
 '05-20-2022.csv',
 '05-21-2022.csv',
 '05-22-2022.csv',
 '05-23-2022.csv',
 '05-24-2022.csv',
 '05-25-2022.csv',
 '05-26-2022.csv',
 '05-27-2022.csv',
 '05-28-2022.csv',
 '05-29-2022.csv',
 '05-30-2022.csv',
 '05-31-2022.csv',
 '06-01-2022.csv',
 '06-02-2022.csv',
 '06-03-2022.csv',
 '06-04-2022.csv',
 '06-05-2022.csv',
 '06-06-2022.csv',
 '06-07-2022.csv',
 '06-08-2022.csv',
 '06-09-2022.csv',
 '06-10-2022.csv',
 '06-11-2022.csv',
 '06-12-2022.csv',
 '06-13-2022.csv',
 '06-14-2022.csv',
 '06-15-2022.csv',
 '06-16-2022.csv',
 '06-17-2022.csv',
 '06-18-2022.csv',
 '06-19-2022.csv',
 '06-20-2022.csv',
 '06-21-2022.csv',
 '06-22-2022.csv',
 '06-23-2022.csv',
 '06-24-2022.csv',
 '06-25-2022.csv',
 '06-26-2022.csv',
 '06-27-2022.csv',
 '06-28-2022.csv',
 '06-29-2022.csv',
 '06-30-2022.csv',
 '07-01-2022.csv',
 '07-02-2022.csv',
 '07-03-2022.csv',
 '07-04-2022.csv',
 '07-05-2022.csv',
 '07-06-2022.csv',
 '07-07-2022.csv',
 '07-08-2022.csv',
 '07-09-2022.csv',
 '07-10-2022.csv',
 '07-11-2022.csv',
 '07-12-2022.csv',
 '07-13-2022.csv',
 '07-14-2022.csv',
 '07-15-2022.csv',
 '07-16-2022.csv',
 '07-17-2022.csv',
 '07-18-2022.csv',
 '07-19-2022.csv',
 '07-20-2022.csv',
 '07-21-2022.csv',
 '07-22-2022.csv',
 '07-23-2022.csv',
 '07-24-2022.csv',
 '07-25-2022.csv',
 '07-26-2022.csv',
 '07-27-2022.csv',
 '07-28-2022.csv',
 '07-29-2022.csv',
 '07-30-2022.csv',
 '07-31-2022.csv',
 '08-01-2022.csv',
 '08-02-2022.csv',
 '08-03-2022.csv',
 '08-04-2022.csv',
 '08-05-2022.csv',
 '08-06-2022.csv',
 '08-07-2022.csv',
 '08-08-2022.csv',
 '08-09-2022.csv',
 '08-10-2022.csv',
 '08-11-2022.csv',
 '08-12-2022.csv',
 '08-13-2022.csv',
 '08-14-2022.csv',
 '08-15-2022.csv',
 '08-16-2022.csv',
 '08-17-2022.csv',
 '08-18-2022.csv',
 '08-19-2022.csv',
 '08-20-2022.csv',
 '08-21-2022.csv',
 '08-22-2022.csv',
 '08-23-2022.csv',
 '08-24-2022.csv',
 '08-25-2022.csv',
 '08-26-2022.csv',
 '08-27-2022.csv',
 '08-28-2022.csv',
 '08-29-2022.csv',
 '08-30-2022.csv',
 '08-31-2022.csv',
 '09-01-2022.csv',
 '09-02-2022.csv',
 '09-03-2022.csv',
 '09-04-2022.csv',
 '09-05-2022.csv',
 '09-06-2022.csv',
 '09-07-2022.csv',
 '09-08-2022.csv',
 '09-09-2022.csv',
 '09-10-2022.csv',
 '09-11-2022.csv',
 '09-12-2022.csv',
 '09-13-2022.csv',
 '09-14-2022.csv',
 '09-15-2022.csv',
 '09-16-2022.csv',
 '09-17-2022.csv',
 '09-18-2022.csv',
 '09-19-2022.csv',
 '09-20-2022.csv',
 '09-21-2022.csv',
 '09-22-2022.csv',
 '09-23-2022.csv',
 '09-24-2022.csv',
 '09-25-2022.csv',
 '09-26-2022.csv',
 '09-27-2022.csv',
 '09-28-2022.csv',
 '09-29-2022.csv',
 '09-30-2022.csv',
 '10-01-2022.csv',
 '10-02-2022.csv',
 '10-03-2022.csv',
 '10-04-2022.csv',
 '10-05-2022.csv',
 '10-06-2022.csv',
 '10-07-2022.csv',
 '10-08-2022.csv',
 '10-09-2022.csv',
 '10-10-2022.csv',
 '10-11-2022.csv',
 '10-12-2022.csv',
 '10-13-2022.csv',
 '10-14-2022.csv',
 '10-15-2022.csv',
 '10-16-2022.csv',
 '10-17-2022.csv',
 ...]

## 4. 여러 데이터 수집, 전처리해서, 하나의 데이터프레임으로 만들기
- 지금까지의 과정을 모두 한데 모아서, 함수로 만들기 <br>
    **1.** 필요한 파일 리스트만 추출하기 <br>
    **2.** 파일 리스트 정렬하기 <br>
    **3.** 데이터프레임 전처리하기 (별도 create_dateframe() 함수) <br>
    **4.** 데이터프레임 합치기

In [59]:
import os

def generate_dateframe_by_path(PATH):

    # csv list 만들기 
    file_list, csv_list = os.listdir(PATH), list()
    first_doc = True
    for file in file_list:
        if file.split(".")[-1] == 'csv':
            csv_list.append(file)

    # 날짜 순으로 정렬하기 
    csv_list.sort(key=lambda x: (x[6:10], x[:2], x[3:5]))

    # 데이터프레임 만들기 
    for file in csv_list:
        doc = create_dateframe(file)
        if first_doc:
            final_doc, first_doc = doc, False
        else:
            final_doc = pd.merge(final_doc, doc, how='outer', left_index=True, right_index=True)

    # 결측치 0으로 바꾸기
    final_doc = final_doc.fillna(0)

     # 모든 데이터를 정수로 바꿔주기 
    final_doc = final_doc.astype('int64')
    
    return final_doc

In [61]:
PATH = '00_Material(Uploaded)/COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/'
doc = generate_dateframe_by_path(PATH)
doc

,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,1/31/2020,...,2/28/2023,3/01/2023,3/02/2023,3/03/2023,3/04/2023,3/05/2023,3/06/2023,3/07/2023,3/08/2023,3/09/2023
Country_Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
Albania,0,0,0,0,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
Algeria,0,0,0,0,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
Andorra,0,0,0,0,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
Angola,0,0,0,0,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
Winter Olympics 2022,0,0,0,0,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
Yemen,0,0,0,0,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
Zambia,0,0,0,0,0,0,0,0,0,0,...,343012,343012,343079,343079,343079,343135,343135,343135,343135,343135
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,263921,264127,264127,264127,264127,264127,264127,264127,264276,264276

## 5. pandas 라이브러리로 CSV 파일 쓰기
- pandas dataframe 데이터를 csv 파일로 저장하기 위해 `to_csv()` 함수 사용
- encoding 옵션 사용 가능

In [65]:
doc.to_csv('00_Material(Uploaded)/COVID-19-master/final_df.csv')