## 1. pandas 라이브러리 임포트
- 보통 pd로 많이 사용함

In [5]:
import pandas as pd

## 2. 시리즈(Series) 이해하기
- 데이터를 다루기 위해 데이터 프레임(Dataframe)과 시리즈(Series) 제공
- 시리즈(Series)는 `1차원 데이터`이고, 데이터프레임(Dataframe)이 테이블형(2차원) 데이터임

#### **2.1** Series 생성

In [9]:
seriesdata = pd.Series([70, 60, 90])
seriesdata

0    70
1    60
2    90
dtype: int64

- index는 행의 레이블을 의미함
- index를 지정하지 않으면 0부터 시작하는 인덱스 자동 생성
- `지정할 경우`에는 지정된 index로 사용

In [13]:
seriesdata = pd.Series([70, 60, 90], index=['국어', '영어', '수학'])
seriesdata

국어    70
영어    60
수학    90
dtype: int64

#### **2.2** Series 데이터 읽고 수정하기

**2.2.1** Series 인덱스 수정
- 수정하고 싶은 인덱스만 수정하고 전체 인덱스를 다시 할당하면 됨

In [16]:
seriesdata.index

Index(['국어', '영어', '수학'], dtype='object')

In [20]:
seriesdata.index = ['미술', '음악', '체육']
seriesdata

미술    70
음악    60
체육    90
dtype: int64

**2.2.2** Series value 수정
- seriesdata.values = [] 형태로 직접 수정 불가

In [23]:
seriesdata.values

array([70, 60, 90], dtype=int64)

- 특정 데이터 지정해서 출력, 수정 등 데이터 처리 가능

In [29]:
# 최근 pandas 에서는 위 코드와 같이 seriesdata[0] 으로 데이터 접근을 비추천하기 시작해서, 경고를 표시합니다. (동작은 됩니다)
# 대신에 다음과 같이 데이터프레임.iloc[위치번호] 로 접근하는 것을 추천합니다.
print (seriesdata['미술'], seriesdata.iloc[0])

70 70

- `.iloc[index]`로 접근할 수 있음

In [32]:
seriesdata.iloc[1] = 80
seriesdata

미술    70
음악    80
체육    90
dtype: int64

#### **2.3** Series 데이터 삭제하기
- 데이터를 삭제하는 일은 거의 없음 (이런게 있다 알아만 두기)
- `del`을 사용해서 삭제할 수 있음

In [36]:
del seriesdata['미술']
seriesdata

음악    80
체육    90
dtype: int64

## 3. pandas 데이터 타입
- pandas 데이터 타입은 파이썬과 다름
  - dtype 으로 불리우며, 주요 데이터 타입은 다음과 같음
    - `object` 는 파이썬의 str 또는 혼용 데이터 타입 (문자열)
    - `int64` 는 파이썬의 int (정수)
    - `float64` 는 파이썬의 float (부동소숫점)
    - `bool` 는 파이썬의 bool (True 또는 False 값을 가지는 boolean)
    - 이외에 `datetime64` (날짜/시간), `timedelta[ns]` (두 datatime64 간의 차) 도 활용됨

> 가끔 data type 때문에 에러가 나는 경우가 있으므로, 데이터 타입에 대한 이해 및 데이터 타입 변경 기능을 알아둬야 함

In [40]:
seriesdata = pd.Series(['dave', 'alex', 'amir'])
seriesdata

0    dave
1    alex
2    amir
dtype: object

In [42]:
seriesdata = pd.Series([1, 1, 1])
seriesdata

0    1
1    1
2    1
dtype: int64

#### **3.1** 데이터 타입 변경
- `Series.astype(변경할 타입)`

In [45]:
seriesdata.astype('float')

0    1.0
1    1.0
2    1.0
dtype: float64